*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 320px;
  width: 100%;
  height: 100%;
 }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Arial,sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --header-height: 3rem;
  --footer-height: 5rem;
}

#root {
  height: 100%;
}

.app-layout {
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;

  display: grid;
    grid-template-areas:
      "header"
      "content"
      "aside"
      "footer";

  grid-template-columns: 1fr;
  grid-template-rows:
    var(--header-height)
    1fr
    minmax(75px, auto)
    var(--footer-height);
}

.app-header {
  grid-area: header;

  display: flex;
  flex-direction: row;

  background: lightgrey;
}

.app-footer {
  grid-area: footer;

  display: flex;
  flex-direction: column;

  background: darkyellow;
}

.app-content {
  grid-area: content;

  padding: 1rem 1.5rem;
  height: 100%;
  width: 100%;
}


.app-aside {
  grid-area: aside;

  padding: 1rem 1.5rem;
}

.container {
  padding: 1rem 1.5rem;
  max-width: 1200px;
}

@media (min-width: 800px) {
  .app-layout {
    grid-template-areas: "header header"
    "content aside"
    "footer footer";
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
    grid-template-columns: 80% 20%;
  }

  .app-content {
    padding: 1rem 0 1rem 1.5rem;
  }
  .app-aside {
    padding: 1rem 1.5rem 1rem 1rem;
  }
}


.vl {
  border: 1px solid #d9dddd;
}

.vl_heading {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 100px 100px 1fr;
  background-color: #f8f8f0;
}

.vl_r {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 100px 100px 1fr;
}

.vl_r-0 {
  background-color: #f8f8f0;
}

.vl_r-active {
  color: white;
  background-color: darkgrey;
}
